@model IEnumerable<RegistrationApplication.Models.ViewModels.Clients.ClientVM>

@{
    ViewBag.Title = "Все заявки";
}

@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />"

<h2>Список всех заявок от клиентов</h2>
<p id="rocket"></p>

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}
<p>
    @Html.ActionLink("Новая заявка", "AddNewClient", "", new { @class = "btn btn-primary" })
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LoanSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>

        <th></th>
    </tr>


    @foreach (var client in ViewBag.onePageOfClients)
    {
        <tr>
            <td>
                @client.LastName
            </td>

            <td>
                @client.FirstName
            </td>
            <td>
                @client.MiddleName
            </td>
            <td>
                @client.BirthDate
            </td>
            <td>
                @client.LoanSum
            </td>

            <td>
                @client.DateRequest
            </td>
            <td>
                @if (client.Email != null)
                {
                    @client.Email
                }
                else
                {
                    <h4>Почта не указана!</h4>
                }

            </td>

            <td>
                <a href="~/admin/PagesClients/EditClient/@client.Id">
                    @if (client.Image == null)
                    {
                        <img src="/Content/img/no_image.png" />
                    }
                    else
                    {
                        <img src="~/Images/Uploads/Clients/@client.Id/Thumds/@client.Image" />
                    }
                </a>
            </td>

            <td>
                @*@client.Image*@
            </td>
            <td class="printDoc">
                @Html.ActionLink("Редактировать", "EditClient", new { id = client.Id }, new { @class = "btn btn-info" })
                @*@Html.ActionLink("Подробности", "Details", new { id = client.Id }, new { @class = "btn btn-primary" }) |*@
                @Html.ActionLink("Удалить заявку", "DeleteClient", new { id = client.Id }, new { @class = "btn btn-danger delete" })
                @Html.ActionLink("Cкачать заявку", "DownloadResultDocument", new { id = client.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Получить на Email", "SendMailClient", new { id = client.Id }, new { @class = "btn btn-primary" })

                @Html.ActionLink("Распечатать", "PrintPDF", new { id = client.Id }, new { @class = "btn btn-primary" })
                @*@Html.ActionLink("Печать2", "PrintPDF", new { id = client.Id }, new { onclick = "$('#formid').submit();" }, new { @class = "btn btn-primary" })*@
               

                @*<ul class="products" >
            <li data-product-id="@TempData["R"]">111111</li>
        </ul>*@

                <div>
                    <form name="search">

                        @*<input type="button" id="myButton" name="print" value="test" class="btn btn-primary printBlock" />*@

                        @*<input type="button" id="myButton1" name="print" value="Печать Doc1" class="btn btn-primary printBlock" />*@
                        @*<input type="button"  id="myButton" name="print" value=@TempData["R"] class="btn btn-primary printBlock" />*@

                        <input type="hidden" id="myButton" name="print" value=@TempData["R"] class="btn btn-primary printBlock" />

                        @*<input type="button" id="myButton" name="print" value="@ViewBag.StringBase64PrinPDF" class="btn btn-primary printBlock" />*@
                        @*<input id="test" type="hidden" value=@ViewBag.Result />*@
                    </form>
                </div>
            </td>
        </tr>
    }

</table>


@Html.PagedListPager((IPagedList)ViewBag.onePageOfClients, page => Url.Action("GetAllClients", new { page }))
@section Scripts
{
    <script type="text/javascript">
       // $('#myButton').click(display);


        // $('.products li').click(display2);
        //$('#myButton1').click(display);
        // $('#test').click(display);

        //$('.products li').on('click', function () {
        //    console.log($(this).data('product-id'));  // 55
        //});

        //Function goRocket() {
        //    alert('Произошел Запуск таймера');

        //    let timer; // пока пустая переменная
        //    let x = 10; // стартовое значение обратного отсчета

        //    countdown(); // вызов функции
        //    function countdown() {  // функция обратного отсчета
        //        document.getElementById('rocket').innerHTML = x;
        //        x--; // уменьшаем число на единицу
        //        if (x < 0) {
        //            clearTimeout(timer); // таймер остановится на нуле
        //            alert('Стоп таймер ');
        //        }
        //        else {
        //            timer = setTimeout(countdown, 1000);
        //        }
        //    };
        //};

    </script>

    @*<script src="~/Content/MyJS/AddClient.js"></script>*@

    <script src="~/Content/MyJS/PrintJS.js"></script>


}




