@model IEnumerable<RegistrationApplication.Models.ViewModels.Clients.ClientVM>

@{
    ViewBag.Title = "Все заявки";
}

@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />"

<h2>Список всех заявок от клиентов</h2>
<p id="rocket"></p>

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}
<p>
    @Html.ActionLink("Новая заявка", "AddNewClient", "", new { @class = "btn btn-primary" })
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LoanSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>

        <th></th>
    </tr>


    @foreach (var client in ViewBag.onePageOfClients)
    {
        <tr>
            <td>
                @client.LastName
            </td>

            <td>
                @client.FirstName
            </td>
            <td>
                @client.MiddleName
            </td>
            <td>
                @client.BirthDate
            </td>
            <td>
                @client.LoanSum
            </td>

            <td>
                @client.DateRequest
            </td>
            <td>
                @if (client.Email != null)
                {
                    @client.Email
                }
                else
                {
                    <h4>Почта не указана!</h4>
                }

            </td>

            <td>
                <a href="~/admin/PagesClients/EditClient/@client.Id">
                    @if (client.Image == null)
                    {
                        <img src="/Content/img/no_image.png" />
                    }
                    else
                    {
                        <img src="~/Images/Uploads/Clients/@client.Id/Thumds/@client.Image" />
                    }
                </a>
            </td>

            <td>
                @*@client.Image*@
            </td>
            <td class="printDoc">
                @Html.ActionLink("Редактировать", "EditClient", new { id = client.Id }, new { @class = "btn btn-info" })
                @*@Html.ActionLink("Подробности", "Details", new { id = client.Id }, new { @class = "btn btn-primary" }) |*@
                @Html.ActionLink("Удалить заявку", "DeleteClient", new { id = client.Id }, new { @class = "btn btn-danger delete" })
                @Html.ActionLink("Cкачать заявку", "DownloadResultDocument", new { id = client.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Получить на Email", "SendMailClient", new { id = client.Id }, new { @class = "btn btn-primary" })

                @*@Html.ActionLink("Распечатать", "PrintPDF", new { id = client.Id }, new { @class = "btn btn-primary" })*@
                @*@Html.ActionLink("Печать2", "PrintPDF", new { id = client.Id }, new { onclick = "$('#formid').submit();" }, new { @class = "btn btn-primary" })*@


                @*<ul class="products" >
            <li data-product-id="@TempData["R"]">111111</li>
        </ul>*@
                @*<form id="Button4Pressed" action="@Url.Action("PagesClients", "PrintPDF2")" method="post"></form>*@
                @* <a href="#" onclick="javascript:document.getElementById('PrintPDF2').submit()">*@
                @*Тестовая печать из метода /a>*@

              
                @*<div id="bestbook">*@

                @*//не видимый  iframe*@
                <div id="print-content">
                    @*<iframe style="display: none;" id="FileFrame" src="~/Archive_Documents/DocsClient/20/Document/Result_Client_20.pdf">></iframe>*@
                    <iframe style="display: none;" name="fileFrame" id="fileFrame" src="~/Archive_Documents/DocsClient/20/Document/Result_Client_20.pdf">></iframe>
                </div>

                @*<a onClick="javascript:CallPrint('print-content');" title="Распечатать проект">Распечатать</a>*@
                <input type="button" value="Печать Doc"  class = "btn btn-primary" onClick="javascript:CallPrint('fileFrame');">

                @*//получаем строку с массивом пдф*@
                @*<div>
                    @Ajax.ActionLink("Печать док", "PrintPDF2", new { id = client.Id },
                            new AjaxOptions
                                 {
                                UpdateTargetId = "bestbook",
                                Confirm = "Выполнить AJAX-запрос?"
                            })
                </div>*@


                @*//Рабочий код*@
                <div>
                    <form name="search">
                        <input type="hidden" id="myButton" name="print" value=@TempData["R"] class="btn btn-primary printBlock" />
                    </form>
                </div>
            </td>
        </tr>
    }



</table>

<script>
    
</script>

@Html.PagedListPager((IPagedList)ViewBag.onePageOfClients, page => Url.Action("GetAllClients", new { page }))

@Scripts.Render("~/scripts/jquery-3.5.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
@section Scripts
{
    <script type="text/javascript">
       // $('#myButton').click(display);



         @*var SomeUrlVar = {
             URL: '@Url.ActionLink("PagesClients", "PrintPDF2")'
    }*@

    //showTable(someUrlVar);

        // $('.products li').click(display2);
        //$('#myButton1').click(display);
        // $('#test').click(display);

        //$('.products li').on('click', function () {
        //    console.log($(this).data('product-id'));  // 55
        //});

        //Function goRocket() {
        //    alert('Произошел Запуск таймера');

        //    let timer; // пока пустая переменная
        //    let x = 10; // стартовое значение обратного отсчета

        //    countdown(); // вызов функции
        //    function countdown() {  // функция обратного отсчета
        //        document.getElementById('rocket').innerHTML = x;
        //        x--; // уменьшаем число на единицу
        //        if (x < 0) {
        //            clearTimeout(timer); // таймер остановится на нуле
        //            alert('Стоп таймер ');
        //        }
        //        else {
        //            timer = setTimeout(countdown, 1000);
        //        }
        //    };
        //};

    </script>

    @*<script src="~/Content/MyJS/AddClient.js"></script>*@

    <script src="~/Content/MyJS/PrintJS.js"></script>


}




