<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dashboard</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<embed type="application/pdf"
           src="path_to_pdf_document.pdf"
           id="pdfDocument"
           width="100%"
           height="100%">
    </embed>*@
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

        @Html.ActionLink("Dashboard", "Index", "Dashboard", "Dashboard", new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @*<a class="nav-link" href="#">Скачать <span class="sr-only">(current)</span></a>*@
                    @*@Html.ActionLink("Тест", "Index", "Dashboard", "Dashboard", new { @class = "navbar-brand" })*@
                </li>
                <li class="nav-item">
                    @*<a class="nav-link" href="#">Особенности</a>*@
                    @Html.ActionLink("Оформить новую заявку", "ToDoClient", "Dashboard", "Dashboard", new { @class = "navbar-brand" })
                </li>
                <li class="nav-item">
                    @*@Html.ActionLink("Кабинет", "Home", "Index", new { @class = "navbar-brand" })*@
                    @*<a class="nav-link" href="#">Кабинет</a>*@
                    <a class="nav-link" href="/" target="_blank">Выход</a>
                    @*@Html.ActionLink("Выход", "ExitCabinet", "Dashboard", new { @class = "navbar-brand" })*@

                </li>
            </ul>

            <!--Правое меню-->
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="/" class="navbar-brand" target="_blank">Вы находитесь в кабинете админа !!!</a>
                </li>
            </ul>

            @*<span class="navbar-text">
                    Текст Navbar с встроенным элементом
                </span>*@
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
